body{
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}

#mi_board_logo img{
  width: 4.5vmax;
  height: 4.5vmax;
  box-shadow: 0 0 4px gray;
  border-radius: 20px;
}

#mi_board_logo a{
  margin: 0 0.8vw;
  background: linear-gradient(to bottom right, #009fe6, #0866ad);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
  font-size: 2.5rem;
}

#mi_board_logo{
  margin: 4vh;
}

hr{
  margin: 5vh 0;
}

h2{
  font-weight: bold;
  margin-top: 3vh;
  font-size:1.2rem;
}

h4{
  font-size: 1.4rem;
}

.guide_message_for_mobile{
  font-size: 9px !important;
}

.feature_description{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  margin: 8vh 0;
}


.func_image{
  width: 75%;
  border-radius: 10px;
  box-shadow: 0 0 4px gray;
}

.feature_detail{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature_detail p{
  text-align: center;
  margin: 0 0.3vw;
  font-size: 0.8vw;
}

.explanation{
  font-weight: bold;
}

.extra_image{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

#main{
  margin: 5vh 0;
  width: 65%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#main #mi_board_logo{
  display: flex;
  align-items: center;
}


#environment{
  display: flex;
  align-items:stretch;
  width: 45%;
  justify-content: space-around;
}

#start_mi_board{
  font-size: 2rem;
  text-decoration: none;
  color: black;
  margin-top: 12vh;
}

#start_mi_board:hover{
  text-decoration: underline;
}

#start_mi_board_attention{
  line-height: 0;
  font-size: 0.6rem;
  margin-bottom: 8vh;
}

#environment_guide{
  margin-top: 20vh;
}


ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

ul h3{
  text-align: center;
  font-size: 0.9rem;
}

li p{
  font-size: 0.7rem;
  text-align: center;
}


.mi-board_update{
  width:80%;
}

hr{
  width: 100%;
}

#registant_card_box{
  display: flex;
  align-items: center;
}

#registant_card_box li{
  margin: 1vh 2vw;
}


#registrant_number{
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 6vh 0;
}

.registrant_by_department{
  text-align:center;
}

#user_mi-board{
  font-size: 1.5rem;
  margin-top: 8vh;
}

#mi-board-mobile-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}


.mi-board-mobile-card img{
  width: 18vw;
  border-radius: 5px;
  box-shadow: 0 0 8px #D1D1D1;
}

@media(max-width: 510px){
  #main{
    width: 100% !important;
  }

  #main p{
    font-size: 15px !important;
  }

  #user_mi-board{
    font-size: 18px !important;
  }

  #mi_board_logo{
    margin: 0;
  }

  .registrant_by_department{
    font-size: 20px !important;
  }

  .func_image{
    width: 99vw !important;
    margin: 0;
    padding: 0;
  }

  .feature_description{
    width: 100% !important;
    margin: 0 !important;
  }

  p span{
    font-size: 8px !important;
  }

  h4{
    font-size: 20px !important;
  }

  .email_attention_message{
    font-size: 8px !important;
  }
}

@media(max-width: 1050px){
  #main{
    width: 95% !important;
  }

  .feature_detail p{
    font-size: 1.4vw;
  }

  .feature_description{
    margin: 5vh 0;
  }

  .mi-board-mobile-card img{
    width: 25vw;
    border-radius: 5px;
    box-shadow: 0 0 8px #D1D1D1;
  }
}
