a{
  margin: 0;
  padding: 0;
}

.main_content{
  display: flex;
  width: 40%;
  z-index: 0;
  flex-direction: column;
  align-items: center;
}

.friend_icon{
  border-radius: 50%;
  width: 3vmax;
  height: 3vmax;
  border: solid 0.05rem #E4E6E8;
}

.friend_card{
  width: 60%;
  background-color: #ffffff;
  box-shadow: 0 0 8px #DFDFDF;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1vh;
  border-radius: 8px;
  padding: 0.5vh 1vw 0.5vh 1vw;
  align-items: center;
}

#search_friend_form{
  width: 90%;
  height: 12vh;
  display: flex;
  align-items: center;
}

#search_friend_input{
  width: 80%;
  height: 40%;
  border-radius: 8px;
  border: none;
  background-color: #ffffff;
  font-weight: bold;
  font-size: 1vw;
  text-align: center;
  flex:1;
  box-shadow: 0px 0px 4px gray inset;
}

#search_friend_input:hover{
  box-shadow: 0 0 8px gray;
}

.change_search_option_link{
  width: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.6vw;
}

.change_search_option{
  border-radius: 50%;
  width: 100%;
  border: 4px solid #E1E1E1;
}

.change_search_option:hover{
  background-color: #E1E1E1;
}

.narrowed_down_menu{
  border-radius: 20px;
  width: 20%;
  border: none;
  height: 40%;
  opacity: 0.7;
  font-weight: bold;
  background-color:hsla(0,50%,100%,0.425);
  box-shadow: 0px 0px 4px gray inset;
  background-color: #ffffff;
  font-size: 0.8vw;
}

.narrowed_down_menu:hover{
 box-shadow: 0 0 8px gray;
}



.move_to_discover_room > img:hover{
  border: solid 0.2rem #298A08;
  background-color: #31B404;
  margin: 0;
}

/* ----------------------- */
.friend_card_container{
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: center;
}

.friend_card > a{
  display: inline-block;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

button{
  border: none;
  color: #ffffff;
  font-weight: bold;
  border-radius: 20px;
  width: 25%;
  height: 3vh;
  font-size: 0.3vw;
}

#unfollow{
  background: linear-gradient(to bottom right, #FE2E2E, #B40404);
}

#follow{
  background: linear-gradient(to bottom right, #00d4ff, #003fff);
}

.user_attribution{
  font-size: 0.3vw;
}

#friend_name{
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.friend_img_detail{
  display: flex;
  align-items: center;
}

.friend_detail{
  margin-left: 0.5vw;
}

select{
  text-align: center;
}

@media(max-width: 510px){
    .main_content{
      width: 98% !important;
    }

    .friend_icon{
      width: 9vw;
      height: 9vw;
    }

    #friend_name{
      font-size: 9px !important;
      margin: 0;
      line-height: 0;
    }

    .user_attribution{
      font-size: 4px !important;
      margin: 0;
      line-height: 0;
    }

    .btn-change-relation{
      font-size: 7px !important;
    }

    #search_friend_form p{
      font-size: 6px !important;
    }

    .change_search_option{
      display: none;
    }

    #search_friend_input{
      font-size: 8px !important;
      height: 4vh;
    }

    .narrowed_down_menu{
      font-size: 8px !important;
      height: 4vh;
    }

    .recommend_friend{
      display: none;
    }

    .friend_card{
      width: 70%;
    }

    .friend_detail{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
}



@media(max-width: 1050px){
  .main_content{
    width: 85%;
  }
}
