.main_content{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  z-index: 0;
}


#my_frined_box{
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.follows_box{
  width: 47%;
  height: 50vh;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 4px #D1D1D1;
  padding: 0.6vh 0.2vw;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guide_box{
  font-size: 0.55vw;
  opacity: 0.7;
  font-weight: bold;
}

.friend_card{
  display: flex;
  align-items: center;
  padding: 0.45vh 0.3vw;
  transition: background-color 0.2s ease-in;
  border-radius: 4px;
  width: 95%;
}

.friend_card:hover{
  background-color: #E1E1E1;
}

.friend_card_image{
  width: 2.3vmax;
  height: 2.3vmax;
  border-radius: 50%;
  border: 1px #D1D1D1 solid;
}

.friend_card_link{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  justify-content: space-between;
  width: 100%;
}

.friend_card_link p{
  font-size: 0.7vw;
}

.friend_image_affiliation_card{
  display: flex;
}

.discover_friend_btn{
  background-color: #ffffff;
  margin-bottom: 2vh;
  text-decoration: none;
  color: black;
  padding: 0.4vh 0.4vw;
  font-weight: bold;
  box-shadow: 0 0 4px #D1D1D1;
  border-radius: 8px;
  font-size: 0.85vw;
  transition: box-shadow 0.1s ease-in;
}

.discover_friend_btn:hover{
  box-shadow: 0 0 4px gray;
}

.friend_image_affiliation_card p{
  font-size: 0.65vw;
  margin-left :0.5vw;
}

@media(max-width: 510px){
  .main_content{
    width: 100%;
    top:75px;
  }

  .friend_card_image{
    width: 6.2vw !important;
    height: 6.2vw !important;
  }

  .friend_image_affiliation_card p{
    font-size: 5.5px !important;
  }

  .discover_friend_btn{
    font-size: 0.6rem;
    margin: 1vh 0;
  }

  .friend_card_link p{
    font-size: 5.5px !important;
  }

  .guide_box{
    font-size: 0.2rem;
  }


}

@media(max-width: 1050px){
  .main_content{
    width: 90%;
  }
}
