.main_content{
  display: flex;
  flex-direction: column;
  width: 55%;
  z-index: 0;
}

.user-profile_background{
  width: 100%;
  height: 10vw;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 8px gray;
  border-radius: 5px;
  margin-top: 3vh;
  transition: box-shadow 0.2s ease-in;
}

.user-profile_background:hover{
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.user_main_detail_container{
  width: 50%;
}

.user-profile{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.5);
  border-radius: 5px;
}

.user_icon{
  border-radius: 50%;
  width: 6vmax;
  height: 6vmax;
  box-shadow: 0 0 4px gray;
  /* border: solid 0.1rem #E4E6E8; */
  margin: 0 5%;
}



.user_name{
  display: inline-block;
  text-align: center;
  padding: 0;
  margin: 3px 0;
  font-size: 2vw;
  font-weight: bold;
  border-radius: 10px;
}

.user-profile-parts-left_container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.user-profile-parts-right_container{
  height: 80%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  -ms-overflow-style: none;
  align-items: center;
  flex: 1;
  border-left:1px solid gray;
}

.user-profile-parts-right_container::-webkit-scrollbar{
  display: none;
  -webkit-appearance: none;
}

.user_profile_item{
  width: 90%;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  font-size: 1vw;
  margin: 3px 0 3px 0;
  font-weight: bold;
}

.user_profile_item:hover{
  box-shadow: 0 0 8px gray;
}

.user_university{
  font-size: 0.7vw;
  margin: 0.1rem 0;
}

#menu_my_board_list li{
  float:left;
  margin-right:0.2vw;
  width: 20%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 -2px 4px #D1D1D1;
  height: 3vh;
  transition: background-color 0.2s ease-in;
  background-color: #E1E1E1
}

#menu_my_board_list li:hover{
  background-color: #EEEEEE;
}


.current{
  background-color: #ffffff;
  border-radius: 4px 4px 0 0;
}

.selection_li a{
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.7vw;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}


#menu_my_board_list{
  width: 60%;
  display: flex;
  align-items: center;
}

#my_board_contents{
  width: 100%;
  height: 50vh;
  background-color: #ffffff;
  border-radius: 0 8px 8px 8px;
  box-shadow: 0 2px 4px #D1D1D1;
}

#my_board_contents{
  overflow-y: scroll;
}

.board_item{
  width: 95%;
  border-bottom: 1.5px solid #D1D1D1;
  min-height: 4vh;
  display: flex;
  align-items: center;
  padding: 0.3vh 0.5vw 0.3vh 0.5vw;
  transition: background-color 0.2s ease-in;
}

.board_item:hover{
  background-color: #D1D1D1;
}

.board_item a{
  text-decoration: none;
  color: black;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.board_item a p{
  font-size: 0.7vw;
}

.my_board_image_container{
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.my_board_title{
  width: 60%;
  height: 100%;
  font-weight: bold;
  background-color: #E8E8E8;
  overflow: hidden;
  padding: 0 0.4vw 0 0.4vw;
  border-radius: 4px;
}

.my_board_image{
  width: 70%;
  height: 85%;
  border: solid 1px #D1D1D1;
  border-radius: 5px;
}

#menu_my_board_list{
  width: 100%;
  display: flex;
}

.board_content_container{
  width: 60%;
}


.board_content_setting_container{
  display: flex;
  justify-content: space-around;
  margin-top: 4vh;
}

#setting{
  width: 35%;
}

.setting_item{
  width: 100%;
  height: 4vh;
  margin: 0.2vh 0;
  border: 1px solid #D1D1D1;
  background-color: #ffffff;
  box-shadow: 0 0 2px #D1D1D1;
  transition: background-color 0.2s ease-in;
}

.setting_item a{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  padding: 0 1vw;
  font-weight: bold;
  font-size: 0.7vw;
}

.setting_item:hover{
  background-color: #D1D1D1;
}

.user_university{
  font-size: 0.7vw;
  margin: 0.1rem 0;
}

#ground_list{
  margin: 2vh 2vw;
  margin-top: 5vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ground_item{
  width: 60%;
  padding: 1vh 0;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 4px #D1D1D1;
  margin: 1.2vh;
}

.ground_image{
  width: 100%;
  border-top: 1px solid #D1D1D1;
  border-bottom: 1px solid #D1D1D1;
  margin: 0.7vh 0;
}

.ground_created_at{
  font-size: 0.5vw;
  opacity: 0.7;
  text-align: end;
}

.owned_coins{
  font-size: 0.7vw;
  text-align: center;
  margin-bottom: 1vh;
}

.owned_coins span{
  font-size: 0.8vw;
  font-weight: bold;
}

@media(max-width: 1050px){
  .main_content{
    width: 85%;
  }
}
