.main_content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  z-index: 0;
}


.create_room_move_modal{
  background-color: #ffffff;
  margin-bottom: 2vh;
  text-decoration: none;
  color: black;
  padding: 0.4vh 0.4vw;
  font-weight: bold;
  box-shadow: 0 0 4px #D1D1D1;
  border-radius: 8px;
  font-size: 0.85vw;
  transition: box-shadow 0.1s ease-in;
}

.create_room_move_modal:hover{
  box-shadow: 0 0 4px gray;
}

.discover_room_btn{
  background-color: #ffffff;
  margin-bottom: 2vh;
  text-decoration: none;
  color: black;
  padding: 0.4vh 0.4vw;
  font-weight: bold;
  box-shadow: 0 0 4px #D1D1D1;
  border-radius: 8px;
  font-size: 0.85vw;
  transition: box-shadow 0.1s ease-in;
}

.discover_room_btn:hover{
  box-shadow: 0 0 4px gray;
}




/* ルーム作成モーダルです */


#input_new_room_data{
  position: relative;
  top:400px;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow:hidden;
  width:30vw;
  height: 60vh;
  background-color: #ffffff;
  box-shadow: 0 0 8px gray;
  border-radius: 10px;
}

.create_room_form{
  position: absolute;
  width: 60vw;
}

.slide_item{
  float:left;
  width: 30vw;
  height: 60vh;
  overflow-y: scroll;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}



#create_room_input_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}


#create_room_page_bg{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.4);
  z-index: 100;
  display: none;
}

.guide_message{
  opacity:0.65;
  font-weight: bold;
  width: 90%;
  font-size: 0.8vw;
  margin-top: 1.5vh;
}

#create_room_input_form input:not(#room_image_input){
  width: 90%;
  height: 3vh;
  border: 2px solid gray;
  font-weight: bold;
  border-radius: 8px;
  color: black;
}

#room_image_input{
  width: 90%;
}

#create_room_input_form select{
  width: 90%;
  height: 3vh;
  border: 2px solid gray;
  font-weight: bold;
  border-radius: 8px;
}

.btn_go_next_page{
  text-decoration: none;
  border-radius: 8px;
  padding: 0.3vh 0.3vw;
  margin: 1vh 0;
  box-shadow: 0 0 4px #gray;
  border: 2px solid #D1D1D1;
  font-weight: bold;
  color: black;
}

.btn_go_next_page:hover{
  background-color: #D1D1D1;
}

.confirm_page h2{
  font-size: 0.65vw;
  width: 90%;
  margin-bottom: 0.5vh;
  opacity: 0.5;
}

.confirm_item{
  border-bottom: 2px solid #D1D1D1;
  background-color: #E7E7E7;
  width: 90%;
  font-weight: bold;
  padding-left: 0.1vw;
  margin-bottom: 0.5vh;
}

.back_to_create_room_page{
  text-decoration: none;
  border-radius: 8px;
  padding: 0.3vh 0.3vw;
  margin: 1vh 0;
  box-shadow: 0 0 4px #gray;
  border: 2px solid #D1D1D1;
  font-weight: bold;
  color: black;
}

.back_to_create_room_page:hover{
  background-color: #D1D1D1;
}

.confirm_page button{
  text-decoration: none;
  border-radius: 8px;
  padding: 0.3vh 0.3vw;
  margin: 1vh 0;
  box-shadow: 0 0 4px #gray;
  border: 2px solid #D1D1D1;
  font-weight: bold;
  color: black;
  background-color: #ffffff;
}

.confirm_page button:hover{
  background-color: #D1D1D1;
}


#my_room_box{
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.room_box{
  width: 47%;
  height: 50vh;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 4px #D1D1D1;
  padding: 0.6vh 0.2vw;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guide_box{
  font-size: 0.55vw;
  opacity: 0.7;
  font-weight: bold;
}

.room_card{
  display: flex;
  align-items: center;
  padding: 0.45vh 0.3vw;
  transition: background-color 0.2s ease-in;
  border-radius: 4px;
  width: 95%;
}

.room_card:hover{
  background-color: #E1E1E1;
}

.room_card_image{
  width: 2.3vmax;
  height: 2.3vmax;
  border-radius: 20%;
  border: 1px #D1D1D1 solid;
}

.room_card_link{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  justify-content: space-between;
  width: 100%;
}

.room_card_link p{
  font-size: 0.7vw;
}

.room_image_affiliation_card{
  display: flex;
}
