.main_content{
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#share_file_box{
  display: flex;
  width: 70%;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 0 4px #D1D1D1;
  border-radius: 8px;
  overflow-y: scroll;
}

.share_file_item{
  width: 100%;
  height: 4vh;
  display: flex;
  align-items: center;
  transition: background-color 0.1s ease-in;
}

.share_file_item:hover{
  background-color: #E5E5E5;
}

.share_file_item_link{
  display: flex;
  align-items: center;
  width: 85%;
  height: 100%;
  text-decoration: none;
  color: black;
}

.file_name{
  font-weight: bold;
  font-size: 0.75vw;
}

.sender_name{
  width: 100%;
  font-size: 0.55vw;
  color: blue;
}

#title_share_box{
  font-size: 1vw;
  font-size: bold;
  color: gray;
  opacity: 0.8;
  margin: 0.3vh;
}

.file_detail{
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.received_at{
  font-size: 0.55vw;
}

@media(max-width: 510px){
  .main_content{
    width: 95% !important;
  }

  .share_file_item_link img{
    width: 5.5 !important;
  }

  .file_name{
    font-size: 7px !important;
  }

  #title_share_box{
    font-size: 5px !important;
  }

  .file_detail a{
    font-size: 4px !important;
  }
}
