.main_content{
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top:80px;
}

.stoppo_item{
  width: 100%;
  height: 4vh;
  display: flex;
  align-items: center;
  transition: background-color 0.1s ease-in;
  border-bottom: 1px #E5E5E5 solid;

  position: relative;
  overflow: hidden;
}

.stoppo_item:hover{
  background-color: #E9E9E9;
}



#welcome_message{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#welcome_message a{
  font-size: 2vw;
  background: linear-gradient(#009fe6, #0866ad);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
  font-family: 'Comic Sans MS';
}

#directory_box{
  width: 50%;
  height: 65vh;
  border-radius: 8px;
  background-color: #ffffff;
  overflow-y: scroll;
  box-shadow: 0 0 4px gray;
  -ms-overflow-style: none;
  display: flex;
  flex-direction: column;
  position: relative;
}

#directory_box::-webkit-scrollbar{
  display: none;
  -webkit-appearance: none;
}


.stoppo_item a{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 0.8vw;
  padding: 0.2vh 0.4vw;
  text-decoration: none;
  color: black;
  font-weight: bold;
}



/* ディレクトリ作成モーダル */
#create_directory_bg{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.4);
  z-index: 100;
}

#create_directory_form{
  position: relative;
  top:400px;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow:hidden;
  width:20vw;
  background-color: #ffffff;
  box-shadow: 0 0 8px gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.7vh 0;
}

#create_directory_form *{
  width: 90%;
  margin: 0.65vh;
  display: flex;
  align-items: center;
}

#new_directory_name_guide{
  font-size: 1vw;
  text-align: center;
  background: linear-gradient(#009fe6, #0866ad);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

#new_directory_name{
  height: 3vh;
  font-size: 0.7vw;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0 0 4px #D9D9D9 inset;
  outline: none;
  border: 1px #D1D1D1 solid;
  text-align: center;
}

#submit_create_directory_btn{
  width: 30%;
  border: none;
  border-radius: 8px;
  height: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#009fe6, #0866ad);
  color: #ffffff;
  font-weight: bold;
}

#select_address_bg{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.4);
  z-index: 100;
}

#select_address{
  position: relative;
  top:400px;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y:scroll;
  width: 18vw;
  background-color: #ffffff;
  box-shadow: 0 0 8px gray;
  border-radius: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

#select_address h2{
  text-align: center;
  margin: 0.2vh 0;
  padding: 0;
  font-size: 0.8vw;
  opacity: 0.7;
}

.address_card_link img{
  width: 1.5vmax;
  height: 1.5vmax;
  border-radius: 50%;
  border: 1px #D1D1D1 solid;
}

.address_card{
  display: flex;
  align-items: center;
  transition: background-color 0.15s ease-in;
  padding: 0.2vh 0.4vw;
  margin: 0.5vh 0;
  border-radius: 5px;
}

.address_card:hover{
  background-color: #D7D7D7;
}

.address_card_link{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  width: 100%;
  height: 100%;
}

.address_card_department{
  font-size: 0.5vw;
}

.address_card_username{
  font-size: 0.8vw;
  font-weight: bold;
  margin-left: 0.2vw;
}


.action_btn_container{
  display: flex;
  align-items: center;
}


.action_btn_container *{
  display: inline-block;
  border-radius: 50%;
  width: 1.5vw;
}

.guide_image{
  padding: 0.2vh 0.2vw;
  transition: box-shadow 0.1s ease-in;
}

.guide_image:hover{
  /* background-color: #D8D8D8; */
  box-shadow: 0 0 4px gray;
}

#stoppo_action_container{
  width: 50%;
  display: flex;
  align-items: center;
  height: 6vh;
  background-color: #ffffff;
  border-radius: 3px;
  margin: 1.4vh;
  box-shadow: 0 0 4px gray;
  justify-content: space-between;
}

#setting_file_bg{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.4);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

#setting_file{
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 4px #D1D1D1;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 15vw;
  padding: 2vh 2vw;
}

#setting_action_container{
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-around;
}

#change_file_name{
  width: 80%;
  height: 2.6vh;
  font-size:0.7vw;
  font-weight: bold;
  background-color: #F3F3F3;
  outline: none;
  border: none;
  border-bottom: 2px #D1D1D1 solid;
  padding: 0 0.5vw;
  color: gray;
  box-shadow: 0 0 4px #D1D1D1;
  margin-bottom: 1vh;
}

#change_file_name_btn{
  width: 70%;
  border-radius: 8px;
  font-size: 0.7vw;
  font-weight: bold;
  border: none;
  background-color: #E5E5E5;
  color: gray;
  box-shadow: 0 0 4px #D1D1D1;
  transition: box-shadow 0.1s ease-in;
}

#change_file_name_btn:hover{
  box-shadow: 0 0 8px gray;
}

#guide_file_name{
  width: 86%;
  font-size: 0.3vw;
  opacity: 0.7;
  font-weight: bold;
}

#guide_image_delete{
  width: 50%;
}

#detaile_link{
  width: 20%;
  font-size: 0.7vw;
  border-radius: 15px;
  font-weight: bold;
  text-decoration: none;
  color: red;
  box-shadow: 0 0 4px #red;
  background-color: #F6CECE;
  display: flex;
  align-items: center;
  justify-content: center;
}


#store_file_form{
  width: 30%;
  height: 100%;
}

#detaile_link:hover{
  box-shadow: 0 0 4px #FA5858;
}

#create_directory_btn{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.5vw;
  font-weight: bold;
  transition: background-color 0.1s ease-in;
  padding: 0 0.2vw;
  text-decoration: none;
  color: black;
  border-radius: 3px;
  width: 30%;
  height: 100%;
}

#create_directory_btn:hover{
  background-color: #E8E8E8;
}

#upload_file_label{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.5vw;
    font-weight: bold;
    transition: background-color 0.1s ease-in;
    padding: 0 0.2vw;
    border-radius: 3px;
    width: 100%;
    height: 100%;
}

#upload_file_label:hover{
  background-color: #E8E8E8;
}

#upload_file_label input{
  display: none;
}

#go_share_item_page_btn{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.5vw;
  font-weight: bold;
  transition: background-color 0.1s ease-in;
  padding: 0 0.2vw;
  text-decoration: none;
  color: black;
  border-radius: 3px;
  height: 100%;
  width: 30%;
}

#go_share_item_page_btn:hover{
  background-color: #E8E8E8;
}

.action_guide_image{
  margin-right: 0.2vw;
}

#back_btn{
  width: 50%;
  margin: 0.6vh;
  background: linear-gradient(#009fe6, #0866ad);
  opacity: 0.8;
  border-radius: 10px;
  box-shadow: 0 0 4px #D1D1D1;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#back_btn:hover{
  box-shadow: 0 0 8px gray;
}

.file_name{
  font-size: 0.8vw;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.file_image{
  width: 1.4vw;
}

#complete_share_file_bg{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.4);
  z-index: 100;
}

#complete_share_file{
  position: relative;
  top:400px;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow:hidden;
  width:20vw;
  background-color: #ffffff;
  box-shadow: 0 0 8px gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.7vh 0;
}

#file_size_over_alert_bg{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.4);
  z-index: 100;
}

#file_size_over_alert{
  position: relative;
  top:400px;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow:hidden;
  width:20vw;
  background-color: #ffffff;
  box-shadow: 0 0 8px gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.7vh 0;
}

#file_size_over_alert p{
  font-size: 0.8rem;
  font-weight: bold;
}

#complete_share_file p{
  font-size: 0.8rem;
  font-weight: bold;
}

#total_file_size{
  display: flex;
  align-items: center;
  width: 50%;
}

#total_file_size meter{
  flex:1;
  height: 2.5vh;
}

#total_file_size p{
  font-size: 0.5vw;
  font-weight: bold;
}

@media(max-width: 510px){
  #welcome_message p{
    display: none;
  }

  .file_image{
    width: 5.5vw !important;
  }

  #directory_box{
    width: 75% !important;
  }

  #back_btn{
    height:4vh;
    font-size: 9px !important;
    width: 75%;
  }

  #total_file_size{
    height: 3vh;
    width: 75%;
  }

  #total_file_size{
    height: 3vh;
    font-size: 4px;
  }

  #total_file_size p{
    font-size: 4px !important;
  }

  #total_file_size meter{
    height: 1vh;
  }

  #stoppo_action_container{
    width: 85%;
  }

  .action_guide_image{
    width: 5.8vw;
  }

  #go_share_item_page_btn{
    font-size: 5px !important;
  }

  #upload_file_label{
    font-size: 5px !important;
  }

  #create_directory_btn{
    font-size: 5px !important;
  }

  .file_name{
    font-size: 7px !important;
  }

  #setting_file{
    width: 40%;
    height: 8.5%;
  }

  #guide_file_name{
    font-size: 8px !important;
  }

  #change_file_name{
    font-size: 10px !important;
  }

  #change_file_name_btn{
    font-size: 10px !important;
  }

  #detaile_link{
    font-size: 10px !important;
  }

  #select_address{
    width: 40%;
  }

  .address_card_link img{
    width: 5vw;
    height: 5vw;
  }

  .address_card_username{
    font-size: 8px !important;
  }

  .address_card_department{
    font-size: 8px !important;
  }
}

@media(max-width: 990px){
  .main_content{
    width: 90%;
  }

  #directory_box{
    width: 65%;
  }

  #welcome_message a{
    font-size: 4vw;
  }

  .file_image{
    width: 3vw;
  }
}
