#post_board_bg{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.4);
  z-index: 100;
  display: none;
}

#post_board_form{
  position: relative;
  top:53%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y:scroll;
  width:30vw;
  background-color: #ffffff;
  box-shadow: 0 0 8px gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vh 0;
}

#post_board_form *{
  width: 90%;
}

#post_board_form textarea,select,input:not(#input_attached_image,#input_attached_file){
  height: 3vh;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 4px gray inset;
  font-size: 0.8rem;
}

#post_board_form input,select{
  margin: 0.4vh 0;
  padding: 0 0.5vw;
}

#post_board_form textarea{
  height: 5vh;
  padding: 0.8vh 0.5vw;
  font-size: 0.8rem;
}

#attention_post_board{
  display: none;
}

select{
  text-align: center;
}


#search_box_container h1{
  font-size: 1vw;
  color: #ffffff;
}


.main_content{
  display: flex;
  width: 55%;
  z-index: 0;
  flex-direction:  column;
  align-items: center;
}


.guide_message{
  font-size: 0.7vw;
  font-weight: bold;
  margin-top: 2vh;
  border-bottom: solid 1.5px gray;
}

.back_to_post_form_input{
  text-decoration: none;
  border-radius: 8px;
  padding: 0.3vh 0.3vw;
  margin: 1vh 0;
  box-shadow: 0 0 4px #gray;
  border: 2px solid #D1D1D1;
  font-weight: bold;
  color: black;
  text-align: center;
}

.back_to_post_form_input:hover{
  background-color: #D1D1D1;
}

.btn_submit_board_data{
  text-decoration: none;
  border-radius: 8px;
  padding: 0.3vh 0.3vw;
  margin: 1vh 0;
  box-shadow: 0 0 4px #gray;
  border: 2px solid #D1D1D1;
  font-weight: bold;
  color: black;
  text-align: center;
}

.btn_submit_board_data:hover{
  background-color: #D1D1D1;
}

#cancel_btn{
  position: fixed;
  bottom: 1%;
  left: 1%;
  background-color: #ffffff;
  border: 2px solid #D1D1D1;
  border-radius: 50%;
  text-decoration: none;
  color: #D1D1D1;
  font-weight: bold;
  width: 1.5vmax;
  height: 1.5vmax;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cancel_btn:hover{
  background-color: #E8E8E8;
}

.board_item_container_link{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
}

.board_item_container_link .board_item_content_container{
  width: 90%;
  padding: 1vh 1vw 1vh 1vw;
}


#search_box_container{
  width: 90%;
  height: 13vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#009fe6, #0866ad);
  /* background: linear-gradient(to bottom right, #00d4ff, #D8D8D8); */
  opacity: 0.8;
  border-radius: 15px;
  box-shadow: 0 0 8px gray;
}

#search_box_board{
  width: 70%;
  height: 4vh;
  border-radius: 20px;
  border: none;
  background-color:hsla(0,50%,100%,0.425);
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
}

#post_board_input_form{
  display: flex;
  align-items: center;
  flex-direction: column;
}

#post_board_input_form *{
  width: 100%;
}

#post_board_input_form input:not(#input_attached_file,#input_attached_image){
  /* background-color: #E1E1E1; */
  border-radius: 8px;
  height: 4vh;
  font-weight: bold;
  background-color: #F1F1F1;
  border: none;
  box-shadow: 0 0 4px #D1D1D1;
}

#post_board_input_form textarea{
  background-color: #F1F1F1;
  border: none;
  font-weight: bold;
  height: 14vh;
}

#post_board_input_form select{
  height: 4vh;
  background-color: #F1F1F1;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  opacity: 0.7;
}

#search_box_board:hover{
  box-shadow: 0 0 8px gray;
}





.narrowed_down_item{
  border-radius: 20px;
  width: auto;
  border: none;
  height: 3vh;
  background-color:hsla(0,50%,100%,0.425);
  font-size: 0.8rem;
}

.narrowed_down_item:hover{
 box-shadow: 0 0 8px gray;
}


.narrowed_down_menu{
  margin: 1vh 0 0.5vh 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.narrowed_down_menu select{
  font-weight: bold;
  font-size: 0.7vw;
  color: #585858;
}

.narrowed_down_menu input[type='submit']{
  font-weight: bold;
  font-size: 0.7vw;
  color: #585858;
}

.narrowed_down_menu > .search_item{
  margin: 0 0.2vw 0 0.2vw;
  opacity: 0.7;
  font-size: 0.7rem;
}

.post_board_container{
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 8px #D1D1D1;
  width: 60%;
  height: 9vh;
  margin: 3vh 0 3vh 0;
  display: flex;
  align-items: center;
}



input[type='radio']{
  display: none;
}

input[type='radio']:checked + label{
  background-color: #D1D1D1;
  box-shadow: 0 0 4px #D1D1D1;
}

.select_post_user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 24%;
}

.select_post_user > label{
  display: flex;
  align-items: center;
  border-radius: 20px;
  width: 90%;
  height: 3.4vh;
  margin: 0.1vh 0 0.1vh 0;
  font-weight: bold;
  box-shadow: 0 0 4px #D1D1D1;
}

.select_post_user > label:hover{
  background-color: #F1F1F1;
}

.input_post_user_label{
  padding: 0.1vh 0.2vw 0.1vh 0.2vw;
  font-size: 0.7vw;
}

.post_user_icon{
  width: 1.5vmax;
  height: 1.5vmax;
  border-radius: 50%;
  border: solid 0.1rem #E4E6E8;
  margin-right: 0.5vw;
}

.post_board_input_container{
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post_board{
  width: 95%;
  border-radius: 20px;
  background-color: #E1E1E1;
  text-decoration: none;
  color: black;
  opacity: 0.5;
  font-weight: bold;
  font-size: 0.9vw;
  box-shadow: 0 0 4px #D1D1D1;
}

.post_board:hover{
  box-shadow: 0 0 8px gray;
}

hr{
  width: 7vw;
  opacity: 0.5;
  padding: 0;
  margin: 0;
}

.board_item_image_container > img{
  width: 100%;
  border-top: 1.5px solid #D1D1D1;
  border-bottom: 1.5px solid #D1D1D1;
  opacity: 0.8;
}

.board_item_container_link .board_item_image_container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:2vh 0 2vh 0;
}

.board_item{
  width: 96%;
  height: auto;
  box-shadow: 0 0 4px gray;
  background-color: #ffffff;
  margin: 0 0 1.6vh 0;
  border-radius: 4px;
  transition: box-shadow 0.2s ease-in;
  padding-top: 1.5vh;
}

.board_item:hover{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.board_item_content_container h2{
  padding: 0;
  margin: 0;
  font-size: 1vw;
  font-weight: bold;
  border-bottom: 2.5px #D1D1D1 solid;
  padding: 0 0.5vw 0 0.5vw;
}

.article_title{
  background: linear-gradient(to bottom right, #E0E6F8, #81BEF7);
}


.guide_box{
  width: 100%;
  margin-top:0.5vh;
  margin-bottom:0.8vh;
  opacity:0.5;
  font-weight: bold;
  font-size: 0.4rem;
  padding-top:0.5vh;
  margin: 0;
  text-align: center;
}

.search_submit_btn{
  border-radius: 20px;
  width: 10%;
}


.board_content{
  font-size: 0.65vw;
  font-weight: bold;
  margin: 1vh 0 1vh 0;
  padding: 0 0.5vw 0 0.5vw;
}

#search_box_board{
  font-size: 1.0rem;
}


#board_line{
  size: 1px;
}

#select_post_user_hr{
  margin: 0.2vh 0 0.2vh 0;
}



#board_area{
  width: 95%;
  display: flex;
  justify-content: space-around;
}

#latest_word_box{
  width: 16%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board_box{
  width: 55%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#latest_board_box{
  width: 26%;
  display: flex;
  flex-direction: column;
}

.anotation_box{
  background-color: #E1E1E1;
  opacity: 0.9;
  font-size: 0.6vw;
  font-weight: bold;
  border-radius: 4px;
  text-align: center;
  width: 100%;
}

.latest_baord_item{
  background-color: #ffffff;
  opacity: 0.65;
  border-radius: 4px;
  box-shadow: 0 0 4px #D1D1D1;
  margin: 0.5vh 0 0.5vh 0;
  padding: 0.5vh 1vw 0.5vh 1vw;
}


.latest_board_item_link{
  width:100%;
  height: 100%;
  text-decoration: none;
  color: black;
}

.latest_board_item_link h2{
  padding: 0;
  margin: 0;
  font-size: 0.74vw;
}

.latest_board_item_link p{
  font-size: 0.6vw;
}

.main_hr{
  size: 50;
  width: 90%;
  margin: 2vh 0 2vh 0;
}

.search_word{
  background-color: #ffffff;
  text-decoration: none;
  color: black;
  border-radius: 4px;
  padding: 0.2vh 0.2vw 0.2vh 0.2vw;
  font-size: 0.7vw;
  font-weight: bold;
  margin-top: 0.6vh;
  overflow: hidden;
  box-shadow: 0 0 4px #D1D1D1;
  opacity: 0.65;
}

.search_word_form{
  width: 80%;
}




.blur{
  -ms-filter: blur(6px);
  filter: blur(6px);
}

@media(max-width: 510px){
  .main_content{
    width: 100vw !important;
    margin: 0;
    padding: 0;
    top: 10px;
  }


  #latest_board_box{
    display: none;
  }

  .board_box{
    width: 100%;
  }

  .board_detail{
    font-size: 0.4vw;
  }

  #search_box_board{
    font-size: 0.4vw;
    flex:1;
    height: 2.5vh;
  }


  .narrowed_down_menu select{
    height: 2.5vh;
    width: 13%;
    font-size: 0.3vw;
  }

  #search_box_container{
    width: 95% !important;
    height: 11vh !important;
  }

  #search_box_container input[type='submit']{
    font-size: 0.3vw;
    height: 3vh;
  }

  .post_board_container{
    width: 90%;
    margin: 0.1vh 0;
  }

  #search_box_container h1{
    font-size: 3vw;
  }


  .select_post_user label{
    font-size: 0.5vw !important;
  }

  .select_post_user{
    padding: 0 0.2vw;
    margin:0;
  }

  .search_item{
    font-size: 0.4rem !important;
    color: black !important;
    height: 4vh !important;
  }

  .input_post_user_label{
    font-size: 10px !important;
  }

  .post_board{
    font-size: 0.4rem !important;
  }

  .article_title{
    font-size: 9px !important;
  }

  .question_title{
    font-size: 9px !important;
  }

  .board_content{
    font-size: 6px !important;
  }

  .guide_box{
    font-size: 4px !important;
  }

  #attention_post_board{
    display: flex;
    font-size: 7px !important;
    margin-top: 2vh;
    font-weight: bold;
  }

  .post_board_container{
    display: none;
  }
}

@media(max-width: 990px){
  .main_content{
    width: 85%;
  }

  #latest_word_box{
    display: none;
  }

  #board_area{
    justify-content: center;
  }

  .board_box{
    margin: 0 1vw;
  }

  .post_board_container{
    height: 7vh;
    margin: 2vh 0;
  }

  #search_box_container{
    height: 13vh;
  }

  .post_user_icon{
    width: 2vmax;
    height: 2vmax;
  }

  .post_board{
    height: 30%;
    display: flex;
    align-items: center;
  }

  #select_post_user_hr{
    margin: 0;
  }

  #post_board_form{
    width: 60%;
  }



}
