{% load static %}
<!doctype html>
<html lang='ja'>
<head>
  <meta charset='utf-8'>
  <title>About Mi-Board</title>
  <link rel='stylesheet' type='text/css' href="{% static 'css/about_mi_board.css' %}" />
  <link rel="icon" type="image/png" href="{% static 'image/mi-board-logo.png' %}">
</head>

<body>

  <!-- 製作者：https://github.com/y6-maenaka ※コードは公開していません -->
  <!-- 連絡先：y6.maenaka@gmail.com -->

  <div id='main'>
    <div id='mi_board_logo'>
      <img src="{% static 'image/mi-board-logo.png' %}"><a href='{% url "accounts:login" %}'>Mi-Board</a>
    </div>
    <h2>Mi-Boardとは</h2>
    <p style='text-align:center;'>Mi-Board(マイボード)は宮崎大学の学生向けに製作したアプリケーションです。
      <br><span style='font-weight:bold;'>宮崎大学</span>の学生の学生生活が充実するように便利な機能を実装してリリースしました。
      <br>Mi-Boardは便利ツール、コミュニケーションツール、その他様々な用途でお使いいただけます。
      <br><span style='font-size:0.6rem;' class='email_attention_message'>※Mi-Boardを利用するには宮崎大学学生専用メールアドレスが必要です。</span></p>

    <div id='registrant_number'>
      <h2>現在のユーザー数</h2>
      <ul id='registant_card_box'>
        <li class='registrant_by_department'>工学部<br>
        <span style='font-weight:bold; text-decoration:underline;'>{{engineering}} 人</span></li>
        <li class='registrant_by_department'>農学部<br>
        <span style='font-weight:bold; text-decoration:underline;'>{{agriculture}} 人</span></li>
        <li class='registrant_by_department'>教育学部<br>
        <span style='font-weight:bold; text-decoration:underline;'>{{education}} 人</span></li>
        <li class='registrant_by_department'>地域資源創生学部<br>
        <span style='font-weight:bold; text-decoration:underline;'>{{region}} 人</span></li>
        <li class='registrant_by_department'>医学部<br>
        <span style='font-weight:bold; text-decoration:underline;'>{{medicine}} 人</span></li>
        <li class='registrant_by_department'>合計<br>
        <span style='font-weight:bold; text-decoration:underline;'>{{total}} 人</span></li>
      </ul>
    </div>

    <div class='feature_description'>
      <img src="{% static 'image/about_mi_baord_timetable.png' %}" class='func_image'>
      <div class='intro'>
      <h4>Mi時間割</h4>
      <p>時間割を設定することで、ホーム画面から簡単に各講義ルームにワンクリックで遷移する事が出来ます。
        <br>各コマの余白をクリックすることで、時間割に講義を設定する事が出来ます</p>
      </div>
    </div>

    <div class='feature_description'>
      <img src="{% static 'image/about_mi_board_stoppo.png' %}" class='func_image'>
      <div class='intro'>
      <h4>オンラインファイル管理(ストレージ)</h4>
      <p>講義ファイルや資料をオンライン上で管理する事が出来ます。
        <br>パソコンからでもスマホからでも自分だけのオンラインストレージにアクセスる事が出来ます。
        <br>また、ファイルシェアも簡単かつ高速に行えます。</p>
      </div>
    </div>

    <div class='feature_description'>
      <img src="{% static 'image/about_mi_board_board.png' %}" class='func_image'>
      <div class='intro'>
        <h4>レポート、課題共有(Q&A)</h4>
        <p>聞きたいことや、分からない課題、過去問題の投稿が出来ます。
          <br>質問・記事、２つの投稿方式があり、分からない課題は「質問」で、過去問題の投稿は「記事」を選択して投稿する事が出来ます。
          <br>また、ポイント制を導入しており、ポイントを設定して投稿した記事を読まれたり、質問に回答してベストコメントに選ばれるとポイントを獲得する事が出来ます。</p>
      </div>
    </div>

    <div class='feature_description'>
      <img src="{% static 'image/about_mi_board_friend_profile.png' %}" class='func_image'>
      <div class='intro'>
        <h4>友達検索・フォロー</h4>
        <p>一般的なSNSのように友達を検索したり、フォローする事が出来ます。
          <br>また、友達の設定しているプロフィールを閲覧することも出来ます。
          <br>フォローされると相手の時間割を閲覧する事が出来るようになります。</p>
      </div>
    </div>

    <div class='feature_description'>
      <img src="{% static 'image/about_me_board_room.png' %}" class='func_image'>
      <div class='intro'>
        <h4>講義・学外活動ルーム</h4>
        <p>講義・学外活動専用ルームで匿名チャットで質問したり、コミュニケーションをとる事が出来ます。
          <br>また、質問・記事投稿の際に関連ルームとして設定した場合、そのルーム内で質問・記事を参照できます。
          <br>ルームから同ルームに関連付けて質問・記事を投稿することも出来ます。</p>
      </div>
    </div>

    <div class='feature_description'>
      <img src="{% static 'image/about_mi_board_personal_chat.png' %}" class='func_image'>
      <div class='intro'>
        <h4>チャット</h4>
        <p>一般的なチャット機能をお使いいただけます。</p>
      </div>
    </div>



    <hr>
    <h3>@12/28 アップデート</h3>
    <img src='/static/image/mi-board-new-func.png' class='mi-board_update'>
    <h4>以下の機能を新規に追加・改善しました</h4>
    <ol>
      <li>時間割上でのルーム更新確認機能</li>
      <li>画面左下、全ての通知確認機能</li>
      <li>プッシュ通知・簡易プッシュ通知機能</li>
      <li>オンラインストレージアップロード制限メーター</li>
      <li>ロゴ・アイコンの変更(作成者：Remon(<a href='https://www.instagram.com/remon_nomer66' target='_blank'> instagram</a> | <a href="{% url "friend:friend_profile" "b1fde164-0dcf-4e37-8b6e-168fdceb4ec1" %}">Mi-Board </a>)</li>
    </ol>
    <hr>

    <a href='{% url "accounts:login" %}' id='user_mi-board'>Mi-Boardを使い始める</a>

    <h2 id='environment_guide'>開発環境</h2>
    <div id='environment'>
      <ul>
          <h3>App</h3>
          <li><p>Django</p></li>
          <li><p>MySQL(main database)</p></li>
          <li><p>Redis(channels backend)</p></li>
      </ul>


      <ul>
        <h3>Languages</h3>
          <li><p>Python</p></li>
          <li><p>HTML</p></li>
          <li><p>CSS</p></li>
          <li><p>JavaScript(jquery)</p></li>
          <li><p>Swift近日公開(IOS版)</p></li>
      </ul>


    <ul>
    <h3>Infra</h3>
      <li><p>AWS(EC2)</p></li>
      <li><p>Amazon Linux 2</p></li>
      <li><p>Nginx(Reverse Proxy)</p></li>
      <li><p>gunicorn(Http/Https)</p></li>
      <li><p>Daphne(Websocket)</p></li>
    </ul>
    </div>
  </div>
</body>
</html>
